body {
font-size: 12px;
font-family:微软雅黑;
margin: 0px auto;
height: auto;
}

.unline_text {	 
	border-right:#ffffff 0px solid;	 
	border-top:#ffffff 0px solid;	 
	font-size:12pt;	 
	border-left:#ffffff 0px solid;	 
	border-bottom:#c0c0c0 1px solid;
	background-color:#ffffff
}
#search {
	border:1px solid #c0c0c0
}

#search ul {
	list-style-type:none;
}

.div_line {
	border:1px solid #c0c0c0
	
}