#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}
<link rel="stylesheet" media="screen" href="@{'/public/easyui/themes/default/easyui.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/easyui/themes/icon.css'}" />

<script src="@{'/public/easyui/jquery-1.6.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/easyui/jquery.easyui.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/My97DatePicker/WdatePicker.js'}" type="text/javascript" charset="${_response_encoding}"></script>
<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">
    #{form action:@create(), enctype:'multipart/form-data'}
        #{crud.form}
        
        #{/crud.form}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
            <input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
            <input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>

<script type="text/javascript">
		$('#object_createDate').addClass("Wdate");
		$('#object_createDate').click(function(){
			WdatePicker();
		});
        $('#object_trailerFee').change(function(){
        	calc();
        });
        $('#object_realTrailerFee').change(function(){
        	calcReal();
        });
		$('#object_provideDifferentFee').change(function(){
			calc();    	
		});
		$('#object_realProvideDifferentFee').change(function(){
			calcReal(); 	
		});
		$('#object_portFee').change(function(){
			calc();
		});
		$('#object_printFee').change(function(){
			calc();
		});
		$('#object_pressureCarFee').change(function(){
			calc();
		});
		$('#object_realPressureCarFee').change(function(){
			calcReal(); 	
		});
		$('#object_otherFee').change(function(){
			calc();
        	calcReal();
		});
		
		$('#object_realTotalFee').attr("readonly","readonly");
		$('#object_totalFee').attr("readonly","readonly");
        function calc(){
        	var trailerFee=Number($('#object_trailerFee').val());
        	var provideDifferentFee=Number($('#object_provideDifferentFee').val());
        	var portFee=Number($('#object_portFee').val());
        	var printFee=Number($('#object_printFee').val());
        	var pressureCarFee=Number($('#object_pressureCarFee').val());
        	var otherFee=Number($('#object_otherFee').val());
        	$('#object_totalFee').val(trailerFee+provideDifferentFee+portFee+printFee+pressureCarFee+otherFee);
        }
       function calcReal(){
    	   var trailerFee=Number($('#object_realTrailerFee').val());
       		var provideDifferentFee=Number($('#object_realProvideDifferentFee').val());
       		var portFee=Number($('#object_portFee').val());
       		var printFee=Number($('#object_printFee').val());
       		var pressureCarFee=Number($('#object_realPressureCarFee').val());
       		var otherFee=Number($('#object_otherFee').val());
       		$('#object_realTotalFee').val(trailerFee+pressureCarFee+provideDifferentFee);
       }
	   
	   $('#object_customer').after("<input type='button' id='newCustomer' value='新客户'/>");
	   $('#object_car').after("<input type='button' id='newCar' value='新车'/>");
	   
	   $('#newCustomer').click(function(){
	   	   
		   $.messager.prompt('增加新客户','请输入新客户名称：',function(r){  
			    if (r){  
					$.messager.progress({title:'请稍候',msg:'请稍候,正在保存中......'});
			        var listAction = #{jsAction @AjaxProcess.saveCustomer(':name',':t') /}
					$.get(listAction({name:encodeURIComponent(r),t:new Date().getTime()}),function(data){
						$.messager.progress('close');
						if(data=="0"){
							$.messager.alert('增加新客户',"您输入的客户已存在，请从下拉框中选择!"); 
							return;
						}
						$('#object_customer').append("<option value='"+data+"'>"+r+"</option>");
						$('#object_customer').val(data);
						$.messager.alert('增加新客户','新的客户名称已经成功新增，请继续录入其它资料！'); 
					});
			    }  
			});  

	  } );
	   $('#newCar').click(function(){
	   	    
			 $.messager.prompt('增加新货车','请输入新货车的车牌号：',function(r){  
			    if (r){
					$.messager.progress({title:'请稍候',msg:'请稍候,正在保存中......'});  
			        var listAction = #{jsAction @AjaxProcess.saveCar(':name',':t') /}
					$.get(listAction({name:encodeURIComponent(r),t:new Date().getTime()}),function(data){
						$.messager.progress('close');
						if(data=="0"){
							$.messager.alert('增加新货车',"您输入的车牌号已存在，请从下拉框中选择!"); 
							return;
						}
						$('#object_car').append("<option value='"+data+"'>"+r+"</option>");
						$('#object_car').val(data);
						$.messager.alert('增加新货车','新的货车已经成功新增，请继续录入其它资料！'); 
					});
			    }  
			});  

	   });
	   
	   
	   
</script>