#{extends 'main.html' /}
<div id="tb" style="padding:0px;height:auto;">
    <div>
    	<form id="searchForm" action="/admin/waybills">
	        <b>创建日期:</b>
	        <input class="easyui-datebox" style="width:100px" id="startDate" name="startDate">到: <input id="endDate" name="endDate" class="easyui-datebox" style="width:100px">
	        <br/>
	        <b>客户名称:</b>
	        <input style="width:200px" id="customerName" name="customerName"/>
	        <br/>
	        <b>车牌号码:</b>
	        <input style="width:200px" id="cardNO" name="cardNO" />
	        <br/>
	        <a href="javascript:search();" class="easyui-linkbutton" iconCls="icon-search">点击查询</a>
		 </form>
    </div>
    <br/>
    <div style="margin-bottom:5px" align="right">
        <a href="javascript:createRow();" class="easyui-linkbutton" iconCls="icon-add" plain="true" handler="">新增货运单</a>
        <a href="javascript:deleteRow();" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除货运单</a>
        <a href="javascript:genExcel();" class="easyui-linkbutton" iconCls="icon-add" plain="true" handler="">导出客户托运单</a>
        <a href="javascript:genCarExcel();" class="easyui-linkbutton" iconCls="icon-remove" plain="true" handler="">导出司机托运单</a>
    </div>
</div>
<table id="tt">
</table>

<div id="dlg" class="easyui-dialog" 
        closed="true" buttons="#dlg-buttons">  
    <form id="fm" method="post">  
    	<input type="hidden" name="id">
        <div class="fitem"> 
	            <label>托运日期:</label>  
	           <input class="easyui-datebox" required="true" id="createDate" name="createDate">
				<label>客户名称:</label>  
	            <input name="customer.id" id="customer" required="true"> 
	            <input type='button' id='newCustomer' value='新客户'/>
        </div>  
        <div class="fitem">  
            <label>车牌号码:</label>  
            <input name="car.id" id="car">  
            <input type='button' id='newCar' value='新车'/>
			<label>&nbsp;&nbsp;定仓号:</label>  
            <input name="warehouseNO"> 
        </div>  
        <div class="fitem">  
 			<label>&nbsp;&nbsp;&nbsp;&nbsp;柜号:</label>  
            <input name="ContainerNO">
			<label>&nbsp;&nbsp;&nbsp;&nbsp;封号:</label>  
            <input name="SealNO">    
        </div>  
        <div class="fitem">  
 			<label>&nbsp;&nbsp;提柜地:</label>  
            <input name="ExtractPlace.id" id="extractPlace" required="true">
			<label>&nbsp;&nbsp;还柜地:</label>  
            <input name="BackPlace.id" id="backPlace" required="true">    
        </div>
        <div class="fitem">  
 			<label>&nbsp;&nbsp;&nbsp;&nbsp;柜型:</label>  
            <input name="containerType.id" id="containerType" required="true">
			<label>装柜地址:</label>  
            <input name="wardrobeAddress">    
        </div>  
		 <div class="fitem">  
 			<label>&nbsp;&nbsp;拖车费:</label>  
            <input name="trailerFee" id="trailerFee" class="numberbox" ">
			<label>实际拖车费:</label>  
            <input name="realTrailerFee" id="realTrailerFee" class="numberbox">    
        </div> 
		 <div class="fitem">  
 			<label>&nbsp;&nbsp;异提费:</label>  
            <input name="provideDifferentFee" id="provideDifferentFee" class="numberbox">
			<label>实际异提费:</label>  
            <input name="realProvideDifferentFee" id="realProvideDifferentFee" class="numberbox">    
        </div> 
		 <div class="fitem">  
 			<label>&nbsp;&nbsp;港建费:</label>
            <input name="portFee" id="portFee" class="numberbox">
			<label>&nbsp;&nbsp;打单费:</label>  
            <input name="printFee" id="printFee" class="numberbox">    
        </div> 
		 <div class="fitem">  
 			<label>&nbsp;&nbsp;压车费:</label>  
            <input name="pressureCarFee" id="pressureCarFee" class="numberbox">
			<label>实际压车费:</label>  
            <input name="realPressureCarFee" id="realPressureCarFee" class="numberbox">    
        </div> 
		 <div class="fitem">  
 			<label>&nbsp;&nbsp;&nbsp;&nbsp;其它:</label>  
            <input name="otherFee" id="otherFee" class="numberbox">
			<label>&nbsp;&nbsp;&nbsp;&nbsp;合计:</label>  
            <input name="totalFee" id="totalFee" class="numberbox">    
        </div> 
		 <div class="fitem">  
 			<label>实际合计:</label>  
            <input name="realTotalFee" id="realTotalFee" class="numberbox">
			<label>&nbsp;&nbsp;&nbsp;&nbsp;备注:</label>  
            <input name="memo">    
        </div> 		  		
    </form>  
</div>  
<div id="dlg-buttons">  
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveWaybill()">保存</a>  
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">关闭</a>  
</div>  

<script type="text/javascript">
    //页面下拉框初始化
	$('#customer').combobox({  
	    url:'/customers/list',  
	    valueField:'id',  
	    textField:'name'  
	});
	
	$('#car').combobox({  
	    url:'/cars/list',  
	    valueField:'id',  
	    textField:'cardNO'  
	});
	
	$('#containerType').combobox({  
	    url:'/containerTypes/list',  
	    valueField:'id',  
	    textField:'name'  
	});
	
	$('#backPlace').combobox({  
	    url:'/places/list',  
	    valueField:'id',  
	    textField:'name'  
	});
	
	$('#extractPlace').combobox({  
	    url:'/places/list',  
	    valueField:'id',  
	    textField:'name'  
	});
	
	$('.numberbox').numberbox({  
	    min:0,  
	    precision:2  
	});  
	
	$('#dlg').dialog({
		title:'新增托运单',
		width:600,
		height:400,
		onClose:function(){
			$('#tt').datagrid('reload');
		}
	});
	
	fm=$('#fm').form({  
	    url:"/waybills/create",  
	    onSubmit:function(){
	    	return $('#fm').form("validate");
	    },
	    success:function(data){  
	    	$.messager.alert('托运单新增', '新增托运单成功！');
	    	$('#fm').form("clear");
	    }  
	});  
	
	
    function saveWaybill(){
    	$('#fm').submit();
    }
	
    function deleteRow(){
        var rec = $('#tt').datagrid('getSelected');
        if (rec) {
            $.messager.confirm('托运单删除', '确认要删除该条托运单吗?', function(r){
                if (r) {
                	//TODO
                    $('#tt').datagrid('reload'); // reload the user data  
                }
            });
        }
        else {
            $.messager.alert('托运单删除', '请先选中你要删除的托运单！');
        }
    }
    
    function createRow(){
    
        $('#dlg').dialog('open');
        $('#fm').form('clear');
        url = '/';
        
    }
   
    
    $('#tt').datagrid({
        url: '/Waybills/list',
        pagination: true,
        onDblClickRow:function(rowIndex,rowData){
        	$('#dlg').dialog('open');
        	$('#fm').form('load',rowData);
        	//下拉框不能转换,手工转换
        	$('#customer').combobox("select",rowData['customer'].id);
        	$('#car').combobox("select",rowData['car'].id);
        	$('#extractPlace').combobox("select",rowData['ExtractPlace'].id);
        	$('#backPlace').combobox("select",rowData['BackPlace'].id);
        	$('#containerType').combobox("select",rowData['containerType'].id);
        	alert(fm.url);
        },
        nowrap:false,
        frozenColumns: [[ //{field:'id',title:'编号',width:50},                           
        {
            field: 'createDate',
            title: '日期',
            width: 100,
            formatter: function(val, rec){
                if (val != null) {
                    var date = new Date(rec.createDate);
                    return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                }
            }
        }, {
            field: 'customer',
            title: '客户名称',
            width: 200,
            formatter: function(val, rec){
                if (val != null) {
                    return rec.customer.name;
                }
            }
        }]],
        columns: [[{
            field: 'car',
            title: '车牌号',
            width: 100,
            formatter: function(val, rec){
                if (val != null) {
                    return rec.car.cardNO;
                }
            }
        }, {
            field: 'warehouseNO',
            width: 100,
            title: '定仓号'
        }, {
            field: 'ContainerNO',
            width: 100,
            title: '柜号'
        }, {
            field: 'SealNO',
            width: 100,
            title: '封号'
        }, {
            field: 'ExtractPlace',
            width: 100,
            title: '提柜地',
            formatter: function(val, rec){
                if (val != null) {
                    return rec.ExtractPlace.name;
                }
            }
        }, {
            field: 'BackPlace',
            width: 100,
            title: '还柜地',
            formatter: function(val, rec){
                if (val != null) {
                    return rec.BackPlace.name;
                }
            }
        }, {
            field: 'containerType',
            width: 100,
            title: '柜型',
            formatter: function(val, rec){
                if (val != null) {
                    return rec.containerType.name;
                }
            }
        }, {
            field: 'wardrobeAddress',
            width: 100,
            title: '装柜地址'
        }, {
            field: 'trailerFee',
            width: 100,
            title: '拖车费'
        }, {
            field: 'provideDifferentFee',
            width: 100,
            title: '异提费'
        }, {
            field: 'portFee',
            width: 100,
            title: '港建费'
        }, {
            field: 'printFee',
            width: 100,
            title: '打单费'
        }, {
            field: 'pressureCarFee',
            width: 100,
            title: '压车费'
        }, {
            field: 'otherFee',
            width: 100,
            title: '其它'
        }, {
            field: 'totalFee',
            width: 100,
            title: '合计'
        }, {
            field: 'realTotalFee',
            width: 100,
            title: '实际合计'
        }, {
            field: 'memo',
            width: 100,
            title: '备注'
        }]]
    });
	
	
	function genExcel(){
		var action=$("#searchForm").attr("action");
		$("#searchForm").attr("action","@{excelReport.genWayBills()}");
		$("#searchForm").submit();
		$("#searchForm").attr("action",action);
	}
	function genCarExcel(){
		var action=$("#searchForm").attr("action");
		$("#searchForm").attr("action","@{excelReport.genCarWayBills()}");
		$("#searchForm").submit();
		$("#searchForm").attr("action",action);
	}
	
	function search(){
		var queryParams=$('#tt').datagrid('options').queryParams;
		queryParams.startDate=$('#startDate').val();
		queryParams.endDate=$('#endDate').val();
		queryParams.customerName=$('#customerName').val();
		queryParams.cardNO=$('#cardNO').val();
		$('#tt').datagrid('options').queryParams=queryParams;
		$('#tt').datagrid('reload'); // reload the user data  
	}
	
	   
	   $('#newCustomer').click(function(){
	   	   
		   $.messager.prompt('增加新客户','请输入新客户名称：',function(r){  
			    if (r){  
					$.messager.progress({title:'请稍候',msg:'请稍候,正在保存中......'});
			        var listAction = #{jsAction @AjaxProcess.saveCustomer(':name',':t') /}
					$.get(listAction({name:encodeURIComponent(r),t:new Date().getTime()}),function(data){
						$.messager.progress('close');
						if(data=="0"){
							$.messager.alert('增加新客户',"您输入的客户已存在，请从下拉框中选择!"); 
							return;
						}
						
						$('#customer').combobox("reload");
						$('#customer').combobox("select",data);
						$.messager.alert('增加新客户','新的客户名称已经成功新增，请继续录入其它资料！'); 
					});
			    }  
			});  

	  } );
	   $('#newCar').click(function(){
	   	    
			 $.messager.prompt('增加新货车','请输入新货车的车牌号：',function(r){  
			    if (r){
					$.messager.progress({title:'请稍候',msg:'请稍候,正在保存中......'});  
			        var listAction = #{jsAction @AjaxProcess.saveCar(':name',':t') /}
					$.get(listAction({name:encodeURIComponent(r),t:new Date().getTime()}),function(data){
						$.messager.progress('close');
						if(data=="0"){
							$.messager.alert('增加新货车',"您输入的车牌号已存在，请从下拉框中选择!"); 
							return;
						}
						$('#car').combobox("reload");
						$('#car').combobox("select",data);
						$.messager.alert('增加新货车','新的货车已经成功新增，请继续录入其它资料！'); 
					});
			    }  
			});  

	   });
	
	   //自动计算
	    $('#trailerFee').change(function(){
        	calc();
        });
        $('#realTrailerFee').change(function(){
        	calcReal();
        });
		$('#provideDifferentFee').change(function(){
			calc();    	
		});
		$('#realProvideDifferentFee').change(function(){
			calcReal(); 	
		});
		$('#portFee').change(function(){
			calc();
		});
		$('#printFee').change(function(){
			calc();
		});
		$('#pressureCarFee').change(function(){
			calc();
		});
		$('#realPressureCarFee').change(function(){
			calcReal(); 	
		});
		$('#otherFee').change(function(){
			calc();
        	calcReal();
		});
		
		$('#realTotalFee').attr("readonly","readonly");
		$('#totalFee').attr("readonly","readonly");
        function calc(){
        	var trailerFee=Number($('#trailerFee').val());
        	var provideDifferentFee=Number($('#provideDifferentFee').val());
        	var portFee=Number($('#portFee').val());
        	var printFee=Number($('#printFee').val());
        	var pressureCarFee=Number($('#pressureCarFee').val());
        	var otherFee=Number($('#otherFee').val());
        	$('#totalFee').val(trailerFee+provideDifferentFee+portFee+printFee+pressureCarFee+otherFee);
        }
       function calcReal(){
    	   var trailerFee=Number($('#realTrailerFee').val());
       		var provideDifferentFee=Number($('#realProvideDifferentFee').val());
       		var portFee=Number($('#portFee').val());
       		var printFee=Number($('#printFee').val());
       		var pressureCarFee=Number($('#realPressureCarFee').val());
       		var otherFee=Number($('#otherFee').val());
       		$('#realTotalFee').val(trailerFee+pressureCarFee+provideDifferentFee);
       }
	   
</script>
