#{extends 'Secure/layout.html' /}
	<div class="row">
		<div class="span12 offset8" style="padding-top: 15%">
			#{if flash.error}
				<div class="span6 alert-message error">&{flash.error}</div>
			#{/if}
			#{if flash.success}
				<div class="span6 alert-message error">&{flash.success}</div>
			#{/if}
			<div class="span7"
				style="padding-top: 14px; background-color: #ECF0F3; border: 1px solid #9CACBC; border-radius: 6px 6px 6px 6px; -webkit-border-radius: 6px 6px 6px 6px; box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.1)">
				#{form @authenticate()}
					<div class="row" style="padding-left: 18%">
						<div class="clearfix"
							style="text-shadow: 0px 1px white; text-transform: uppercase; color: #596573; padding-top: 14px; font-weight: 800; font-size: 23px">
							&{'secure.title'}</div>
					</div>
					<div class="row" style="padding-left: 18%">
						<div class="clearfix">
							<input type="text" name="username" id="username"
								placeholder="&{'secure.username'}" class="input-xlarge" />
						</div>
					</div>
					<div class="row" style="padding-left: 18%">
						<div class="clearfix">
							<input type="password" name="password" id="password"
								placeholder="&{'secure.password'}" class="input-xlarge" />
						</div>
					</div>
					<div class="row">
						<input type="submit" id="signin" value="&{'secure.signin'}"
							class="btn primary span2 offset4" />
					</div>
				#{/form}
			</div>
		</div>
	</div>
