<!DOCTYPE html>
<html>
    <head>
        <title>集装箱管理系统</title>
        <meta charset="${_response_encoding}">
		<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/default.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/easyui/themes/icon.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/easyui/themes/default/easyui.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/easyui/jquery-1.6.min.js'}" type="text/javascript" charset="${_response_encoding}">
        </script>
        <script src="@{'/public/easyui/jquery.easyui.min.js'}" type="text/javascript" charset="${_response_encoding}">
        </script>
    	<script src="@{'/public/easyui/locale/easyui-lang-zh_CN.js'}" type="text/javascript" charset="${_response_encoding}">
        </script>
          
        <style type="text/css">
        
        #crudHeader {
			background: #111111;
			padding: 10px 20px;
		}

		#crudHeader h1 {
			margin: 0;
			font-weight: normal;
		}
		
		#crudHeader h1 a {
			color: gold;
			text-decoration: none;
		}
        
        </style>
	</head>
    <body class="easyui-layout">
        <div region="north"  split="true" style="height:60px;">
        	<div id="crudHeader"><h1><a href="/">深圳市众泰物流有限公司 货运管理系统</a></h1></div>
        </div>
        <div region="west" split="true" title="货运管理系统" style="width:150px;">
            <ul id="menus">
            	<li>
            		<span>系统管理</span>
	            	<ul>
		            	<li><span><a href="/">托运单管理</a></span></li>
		            	<!-- 
		            	<li><span><a href="javascript:alert('功能开发中,请稍候')">报表统计</a></span></li>
		            	<li><span><a href="javascript:alert('功能开发中,请稍候')">应收费用查询</a></span></li>
		            	<li><span><a href="javascript:alert('功能开发中,请稍候')">应付费用查询</a></span></li>
		            	<li><span><a href="javascript:alert('功能开发中,请稍候')">应收费用核销</a></span></li>
		            	<li><span><a href="javascript:alert('功能开发中,请稍候')">应付费用核销</a></span></li>
		            	 -->
		            	<li><span><a href="/users/index">用户管理</a></span></li>
		            	<li><span><a href="javascript:$('#dlg_passwd').dialog('open');">密码修改</a></span></li>
		            	<li><span><a href="/logout">退出系统</a></span></li>
	            	</ul>
            	</li>
            </ul>
        </div>
        <div region="center" title="工作台" style="padding:5px;">
            #{doLayout /}
        </div>
        
        
        <div id="dlg_passwd" class="easyui-dialog" closed="true" buttons="#dlg-passwd-buttons" title="密码修改"'>  
        	<form id="passwd_fm" method="post" >
 				<table>
 					<tr>
 						<td>当前密码:</td>
	        			<td><input type="password" id="old_passwd" name="old_passwd" class="unline_text easyui-validatebox" required="true" /></td>
	        		</tr>
	        		<tr>
	        			<td>新密码:</td>
	        			<td><input type="password" id="passwd" name="passwd" class="unline_text easyui-validatebox" required="true" /></td>
	        		</tr>
	        		<tr>
	        			<td>确认新密码:</td>
	        			<td><input type="password" id="confirm_passwd" name="confirm_passwd" required="true" validType="confirmPwd['passwd']" class="unline_text easyui-validatebox"/></td>
        			</tr>
        		</table>
        	</form>
        </div>  
        <!--    confirmpwd[passwd] -->
		<div id="dlg-passwd-buttons">  
		    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="savepw()">保存</a>  
		    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_passwd').dialog('close')">关闭</a>  
		</div> 
    </body>
    
<script type="text/javascript"> 
	
	$("#menus").tree({
		
	});
	
	$.extend($.fn.validatebox.defaults.rules, {  
	    confirmPwd: {  
	        validator: function(value, param){ 
	            
	            return value == $('#'+param[0]).val();  
	        },  
	        message: '请确认两次输入的新密码是否一致!'  
	    }  
	});  

    $('#passwd_fm').form({  
	    url:"/users/passwd",  
	    onSubmit:function(){
	    	return $('#passwd_fm').form("validate");
	    },
	    success:function(data){  
	    	$.messager.alert('密码修改', data);
	    	$('#dlg').dialog('close');
	    }  
	}); 
	
	function savepw(){
		$("#passwd_fm").submit();
	}
</script> 
</html>
